@charset "utf-8";

body {
	background-color: white;
	background-size: cover;
	font-family: libre-bodoni, Grenadine, sans-serif;
	Margin: 25px 25px;
	display: flex;
	justify-content: center;
}

#container {
	background-color: white;
	width: 1366px;
	margin: auto;
}

h2{
	font-family: grenadine-mvb, sans-serif;
	font-weight: 900;
	font-size: 63px;
	color: white;
	font-style: normal;
}

/*Header*/

#nav{
	display: flex;
	justify-content: space-evenly;
}

.logo{
	display: flex;
	justify-content: center;
}

#nav ul li{
	margin-right: 100px;
	margin-left: 100px;
	list-style: none;
	display: inline;
}

a{
	
	font-family: "libre-bodoni", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	color: darkgreen;
}

.logo img {
	width: 150px;
	display: flex;
	margin: 0 0 25px 0;
	align-self: center;
}

/*h1, h2, h3 {
	font-size:80px;
	margin: 0;
    color: orange;
}
*/



.center{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

ul{
	list-style: none;
	display: inline;
	margin: 0 0 3px 0;
}

li{
	display:inline;
	flex-direction: row;
	justify-content: center;
	margin: 0 0 3px 0;
}

/*Body*/

/*Call to Action*/

#main{
	display: block;
	justify-content: center;
}


.Cta {
	display: flexbox;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-image: url(../IMAGES/HomepageBanner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.Cta{
	
}


#main h3{
	font-family: grenadine-mvb, sans-serif;
	color: darkgreen;
	font-size: 60px;
	display: flex;
	justify-content: center;
}



#NewArrivals{
	color: dark green;
	
}
